<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body style="background-color:  #DAF7A6  ;">
    <img src="img/imagenhome.jpg" alt="photo principal">
    <h1 id="top" style="color:black"> Heroés Tecnológicos </h1>

    <a href="babbage"> Ir a Charles Babbage </a> <br> 
    <br>
    <a href="berners-lee"> Ir a Tim Berners Lee</a> <br> 
    <br>
    <a href="clarke"> Ir a Edmund Clarke </a> <br> 
    <br>
    <a href="hamilton"> Ir a Margareth Hamilton </a> <br> 
    <br>
    <a href="hopper"> Ir a Grace Hopper </a> <br> 
    <br>
    <a href="lovelace"> Ir a Ada Lovelace </a> <br> 
    <br>
    <a href="turing"> Ir a Alan Turing </a> <br> 
    <br>
</body>
</html>
